<form>
	<input type="text" name="name.first" value="something"><br>
	<input type="checkbox" name="seasons" value="winter">Winter<br>
	<input type="checkbox" name="seasons" value="summer">Summer<br>
	<input type="checkbox" name="seasons" value="spring">Spring<br>
	<input type="checkbox" name="seasons" value="autumn">Autumn<br>
</form>